    {{> head}}
    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Pasaje Online</h1>
        </div>
        <div class="col-4">
            <img src="../public/assets/img/pasajeonline.png" alt="imagenPasajeOnline" class="img-thumbnail">
        </div>
    </div>
    {{> footer}}